<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>内容编辑</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div style="display: block; margin: 0 auto; width: 50%;">
		<img src="/images/fail.png"></img>
		<div style="display: block; margin: 0 auto; width: 50%;">
			<p>添加失败</p>
			<p>
				<a href="javascript:history.go(-1)"><button class="btn">后退到上一页</button></a>
			</p>
			<p>
				<a href="/admin/add"><button class="btn">继续添加</button></a>
			</p>
		</div>
	</div>
</body>
</html>